{
    "presets": [
        "@babel/preset-env",
        // "@babel/stage-0",
        "@babel/react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-function-bind",
        // ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
        ["@babel/plugin-transform-react-jsx", {
            "pragma": "React.createElement",
        }],
    ]
}
